.container {
  margin: 1.5rem 3rem;
  display: flex;
  flex-flow: column wrap;
  /* height: 20rem; */
  gap: 20px;
}

.wrapper{
  max-width: 45rem;
  width: 80%;
  display: flex;
  flex-direction: row;
}

img {
  border-radius: 20px 0 0 20px;
  width: 20rem;
  height: 17rem;
  object-fit: cover;
}

.details {
  padding: 0.3rem 0.75rem;
  display: flex;
  flex-direction: column;
}

.details > p{
  padding-top: 2rem;
}

.details h3{
  padding: 2rem 0;
}

.details a{
  color: #3e94df;
  text-align: right;
}